Assignment\ 3/group25_code_assign3/hmm-1.04/hmm-1.04/GeneratedSequences
Assignment\ 3/group25_code_assign3/hmm-1.04/hmm-1.04/alphaout
Assignment\ 3/group25_code_assign3/alphaout
Assignment\ 3/group25_code_assign3/hmm-1.04/hmm-1.04/GeneratedSequences_1a
Assignment\ 3/group25_code_assign3/hmm-1.04/hmm-1.04/GeneratedSequences_1b